[submodule "学习资料（非电子书）/SummerProject/Grade_1"]
	path = 学习资料（非电子书）/SummerProject/Grade_1
	url = https://github.com/jamesnulliu/MySort.git
[submodule "学习资料（非电子书）/SummerProject/Grade_2"]
	path = 学习资料（非电子书）/SummerProject/Grade_2
	url = https://github.com/jamesnulliu/SHU_Summer_Project_of_Computer_Hardware.git
[submodule "学习资料（非电子书）/数据结构/CourseProject_ZNJ"]
	path = 学习资料（非电子书）/数据结构/CourseProject_ZNJ
	url = https://github.com/ycshao21/DataStructure-ZNJ-SHU
[submodule "学习资料（非电子书）/JAVA程序设计/caiyu/csky_caiyu_project"]
	path = 学习资料（非电子书）/JAVA程序设计/caiyu/csky_caiyu_project
	url = https://github.com/itbear-shu/csky.git
[submodule "学习资料（非电子书）/JAVAEE开发技术/caiyu/shushucloudorder_caiyu_project"]
	path = 学习资料（非电子书）/JAVAEE开发技术/caiyu/shushucloudorder_caiyu_project
	url = https://github.com/itbear-shu/SHUSHUCloudOrder.git
